body {
    font-family: Arial, sans-serif;
    background-color: rgb(253, 253, 252);
    color: rgb(223, 51, 59);
    margin: 0;
    padding: 0;
}

#table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    margin: 20px;
}

h1, h2 {
    color: rgb(10, 116, 138);
}

#lion-logo {
    width: 150px;
    height: auto;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(127, 41, 119);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(217, 169, 178);
}
button {
    width: 270px;  /* Set width for all buttons */
    font-size: 16px;       /* Increase font size for better readability */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Add a subtle shadow for depth */
    transition: all 0.3s;  /* Smooth out all transitions */
}

button:hover {
    background-color: rgb(197, 139, 150);  /* Slightly darken hover color */
    transform: translateY(-2px);  /* Add a subtle lift effect on hover */
}

button:active {
    transform: translateY(0);  /* Reset lift effect on button press */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Reduce shadow on button press for a pressed effect */
}
