body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 12px; /* Base font size */
}

h1, a, button {
    color: #333;
    text-decoration: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #45a049;
}

#table-container {
    background-color: white;
    padding: 2vw;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    max-width: 95vw;
    max-height: 80vh;
}

.dataframe {
    border-collapse: collapse;
    width: 100%;
}

.dataframe th, .dataframe td {
    border: 1px solid #ddd;
    padding: 0.5vw 1vw;
    text-align: center;
    word-wrap: break-word;
}

.dataframe tr:hover {
    background-color: #e5e5e5;
}

.dataframe tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dataframe th {
    background-color: #333;
    color: white;
    border-bottom: 3px solid #444;
    position: sticky;
    top: 0;
    z-index: 10;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 10px;
    }

    h1 {
        font-size: 1.2rem;
    }

    button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .dataframe th, .dataframe td {
        padding: 0.4vw 0.8vw;
    }

    .dataframe th:not(:first-child),
    .dataframe td:not(:first-child) {
        width: 1%; /* Using a small percentage to force columns to be as narrow as possible */
        white-space: nowrap;
    }

    .dataframe th:not(:first-child) {
        transform-origin: bottom left;
        transform: rotate(-90deg) translateY(50%) translateX(-50%);
        text-align: left;
        padding: 0 1vw;
        vertical-align: middle;
        height: auto;
        line-height: 1.25;
    }

    .dataframe td:not(:first-child) {
        vertical-align: top;
    }
}